<% @sub_tasks.each do |sub_task| %>
  <tr class="sub-task-row-<%=sub_task.id%>">
    <td><%= sub_task.name %></td>
    <td>
      <%= link_to_if is_edition_allowed?(sub_task.user_id, current_user.id), 'Editar', edit_sub_task_path(sub_task) %>
    </td>
    <td>
      <%= link_to_if is_edition_allowed?(sub_task.user_id, current_user.id), "Excluir", sub_task, method: :delete, data: { confirm: 'Tem certeza?' }, remote: true %>
    </td>
  </tr>
<% end %>

